  <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        
          <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2017 Monster Admin by wrappixel.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->  
        <!--footer  -->
        <footer class="footer text-center">
            © 2017 Monster Admin by wrappixel.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
       </footer>
       

       
   </div>
  
   <script src="/assets/plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap tether Core JavaScript -->
   <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
   <!-- slimscrollbar scrollbar JavaScript -->
   <script src="/js/jquery.slimscroll.js"></script>
   <!--Wave Effects -->
   <script src="/js/waves.js"></script>
   <!--Menu sidebar -->
   <script src="/js/sidebarmenu.js"></script>
   <!--stickey kit -->
   <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
   <!--Custom JavaScript -->
   <script src="/js/custom.min.js"></script>
   <!-- ============================================================== -->
   <!-- This page plugins -->
   <!-- ============================================================== -->
   <!-- Flot Charts JavaScript -->
   <script src="/assets/plugins/flot/jquery.flot.js"></script>
   <script src="/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
   <script src="/js/flot-data.js"></script>
   <!-- ============================================================== -->
   <!-- Style switcher -->
   <!-- ============================================================== -->
   <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>

        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="assets/plugins/flot/jquery.flot.js"></script>
    <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>