<% include header%>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
            <h2>超级爽文网管理员系统</h2>
            </div>
            <div class="card-body textcontent">
                <h3 class="card-title"><%-user.name%>,欢迎你访问</h3>
                <p class="card-text">在这里你能做你想做的任何操作</p>
                <a href="#" class="btn btn-primary">开始</a>
            </div>
        </div>
    </div>
</div>
<% include footer%>
